body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: relative;
}
.tree-interactives{
    position: fixed;
    left: 0;
    top: 0;
}

.node{
    /* background-color: aquamarine;
    border: solid white; */
    width: 100%;
    margin: 0;
    border-right: dashed 0.01rem rgb(163, 162, 162);
    border-bottom: dashed 0.01rem rgb(199, 198, 198);
    
}

.node#root{
    width: 100%;
}

.node p {
    text-align: center;

    /* margin: .25rem; */
}

.value{
    background-color: #333;
    color: white;
    border-radius: 50%;
    width: auto;
    text-align: center;
    padding: .25rem;
    width: .7rem;
    height: .7rem;
    font-size: 1rem;
    line-height: .7rem;
    margin: 0;
    position: relative;
}

.value.found{
    background-color: darkgreen;
    box-shadow: 0rem 0rem 1rem green;
}

/* .value::before{
    content: "|";
    position: absolute;
    color: black;
    top: -60%;
    left: 32%;
    font-weight: bolder;
} */

.horizontal-line-center{
    width: 50%;
    height: 0.25rem;
    border-top: solid black .35rem;
    border-left: solid black .35rem;
    border-right: solid black .35rem;
    margin: auto;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}

.left-right-container{
    display: flex;
    /* border: solid purple; */
}

.left{
    /* border: solid red; */
    display: inline-block;
    /* width: 45%; */
    margin: 0;
    /* flex-grow: 1; */
    width: 100%;
    

}

.right{
    /* border: solid blue; */
    display: inline-block;
    /* width: 45%; */
    margin: 0;
    /* flex-grow: 1; */

    width: 100%;
    




}