body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 0 2.5rem;
    padding: 0;
}

header{
    position: fixed;
    left: .5rem;
    top: .5rem;
    display: flex;
    justify-content: space-between;
    /* background-color: violet; */
    width: 100%;
}

label {
    font-size: 1.25rem;
    margin: 0 1rem;
}

button {
    background-color: slateblue;
    border: none;
    padding: .55rem  .75rem;
    font-weight: 600;
    color: white;
    font-size: 1rem;
    border-radius: .25rem;
    
}

button:hover{
    background-color: rgb(136, 122, 231);
    cursor: pointer;
}

button:active{
    background-color: rgb(67, 56, 141);
}
#search-btn{
    background-color: rgb(221, 75, 49);
    color: white;
}

#search-btn:hover{
    background-color: tomato;
}

#search-btn:active{
    background-color: rgb(179, 60, 39);
}

#traverse-btn{
    background-color: teal;
    color: white;
    margin-left: 1.5rem;
}

#traverse-btn:hover{
    background-color: rgb(8, 172, 172);

}

#traverse-btn:active{
    background-color: rgb(0, 78, 78);

}

input[type=number]{
    height: 1.75rem;
    padding: 0.15rem .5rem;
    margin-right: 1rem;
    border: solid .1rem #bbb ;
    border-radius: .25rem;
    vertical-align: middle;
    width: 4rem;
    font-size: 1.25rem;
}

.title-source{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.title-source a {
    color: #333;
    text-decoration: none;
}

.title-source a:hover {

    /* text-decoration: underline; */
    border-bottom: solid .1rem purple;

}

.fa-github{
    font-size: 1.25rem;
    margin: 0 .35rem;
    color: rgb(73, 6, 73);
}

strong{
    color: #222;
}

.tree-interactives{

}

#tree{
    margin-top: 3.5rem;
}

.node{
    /* background-color: aquamarine;
    border: solid white; */
    width: 100%;
    margin: 0;
    border-right: dashed 0.01rem rgb(163, 162, 162);
    border-bottom: dashed 0.01rem rgb(199, 198, 198);
    
}

.node#root{
    width: 100%;
}

.node p {
    text-align: center;

    /* margin: .25rem; */
}

.value{
    background-color: #333;
    color: white;
    border-radius: 50%;
    width: auto;
    text-align: center;
    padding: .25rem;
    width: .7rem;
    height: .7rem;
    font-size: 1rem;
    line-height: .7rem;
    margin: 0;
    position: relative;
}

.value.found{
    background-color: darkgreen;
    box-shadow: 0rem 0rem 1rem green;
}

/* .value::before{
    content: "|";
    position: absolute;
    color: black;
    top: -60%;
    left: 32%;
    font-weight: bolder;
} */

.horizontal-line-center{
    width: 50%;
    height: 0.25rem;
    border-top: solid black .35rem;
    border-left: solid black .35rem;
    border-right: solid black .35rem;
    margin: auto;
    border-top-left-radius: .2rem;
    border-top-right-radius: .2rem;
}

.left-right-container{
    display: flex;
    /* border: solid purple; */
}

.left{
    /* border: solid red; */
    display: inline-block;
    /* width: 45%; */
    margin: 0;
    /* flex-grow: 1; */
    width: 100%;
    

}

.right{
    /* border: solid blue; */
    display: inline-block;
    /* width: 45%; */
    margin: 0;
    /* flex-grow: 1; */

    width: 100%;
    




}